.maindiv{
    width: 75%;
    height: 100hv;
    background-color: #201F29;
    padding: 0 10px;
    
}
.top-img{
    background-image: url(/images/smiley.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    border-radius: 5px;

}
.image-text{
    color: rgb(255, 255, 245);
    font-size: 30px;
    font-weight: 800;
    text-align: left;
    margin-left: 20px;

}
.feed-back {
     display: flex;
  }
  .feed-back div {
    display: flex;
    align-items: center;
    width: 30%;
    color: #fff;
  }
  .feed-back div h3 {
    text-align: center;
  }
  .feed-back div span {
    color: #ffc107;
    font-size: 30px;
    font-weight: bold;
  } 